<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Agregar</title>
  <link rel="stylesheet" href="../assets/css/style1.css">
</head>
<body>
    <form action="" class="form-register">



    <h1 class="form__title">AGREGAR COMPUTADORES</h1>
    <input type="file" name="archivo" class="form_file">

    <div class="container--flex">
        <label for="" class="form__label">Nombre</label>
        <input type="text" class="form__input" placeholder="Asus">
    </div>
    <div class="container--flex">
        <label for="" class="form__label">Descripcion</label>
        <input type="text" class="form__input" placeholder="Es una laptop">
    </div>
    <div class="container--flex">
        <label for="" class="form__label">Precio</label>
        <input type="text" class="form__input" placeholder="999...">
    </div>
    <input type="submit" class="form__submit">
    <div class="consolas"><a type="button" id="boton" href="../pages/agregar.html">BACK</a></div>
</body>
</html>